.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffffff;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

html,
body {
    margin: 0px;
    background-color: #8c89e0;
    margin: 10px;
}

.container > div:nth-child(1n) {
    background-color: #07ca6f;
}

.container > div:nth-child(3n) {
    background-color: #06f4e8;
}

.container > div:nth-child(2n) {
    background-color: #ef807c;
}

.container > div:nth-child(4n) {
    background-color: #a225ea;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: dense;
}

.horizontal {
    grid-column: span 2;
    grid-row: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}